<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Invome : Invome Admin  Bootstrap 5 Template" />
    <meta property="og:title" content="Invome : Invome Admin  Bootstrap 5 Template" />
    <meta property="og:description" content="Invome : Invome Admin  Bootstrap 5 Template" />
    <meta property="og:image" content="https://invome.dexignlab.com/xhtml/social-image.png" />
    <meta name="format-detection" content="telephone=no">
    <script src="./assets/js/jquery.js"></script>

    <!-- PAGE TITLE HERE -->
    <title>Sign In</title>

    <!-- FAVICONS ICON -->
    <link rel="shortcut icon" type="image/png" href="./assets/images/favicon.png" />
    <link href="./assets/css/style.css" rel="stylesheet">

    <!-- Toastr -->
    <link rel="stylesheet" href="./assets/vendor/toastr/css/toastr.min.css" />
    <!-- Toastr -->
    <script src="./assets/vendor/toastr/js/toastr.min.js"></script>

</head>

<body class="vh-100">
    <div class="authincation h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-6">
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="auth-form">
                                    <h2 class="text-center text-primary mb-4">Demo Project</h2>
                                    <hr>
                                    <h3 class="text-center mb-4">Sign in your account</h3>
                                    <p id="errMsg" style="color: red; text-align: center;"></p>

                                    <div class="form-group">
                                        <label class="mb-1"><strong>
                                                <h4>Email</h4>
                                            </strong></label>
                                        <input type="email" class="form-control" name="sEmail" id="email">
                                    </div>
                                    <div class="form-group">
                                        <label class="mb-1"><strong>
                                                <h4>Password</h4>
                                            </strong></label>
                                        <input type="password" class="form-control" name="sPassword" id="password">
                                    </div>

                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary btn-block" onclick="signIn()">Sign
                                            In</button>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label class="mb-1"><strong>
                                                <h4><a href="/register">Register</a></h4>
                                            </strong></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="./assets/vendor/global/global.min.js"></script>
    <script src="./assets/js/custom.min.js"></script>
    <script src="./assets/js/dlabnav-init.js"></script>
    <script src="./assets/js/login.js"></script>

</body>

</html>