<!--**********************************
            Sidebar start
        ***********************************-->
<div class="dlabnav">
    <div class="dlabnav-scroll">
        <div class="dropdown header-profile2 ">
            <a class="nav-link " href="javascript:void(0);" role="button" data-bs-toggle="dropdown">
                <div class="header-info2 d-flex align-items-center border">
                    <img src="./assets/images/profile/pic1.jpg" alt="" />
                    <div class="d-flex align-items-center sidebar-info">
                        <div>
                            <span class="font-w700 d-block mb-2">Hello</span>
                            <!-- <small class="text-end font-w400">Super Admin</small> -->
                        </div>
                        <i class="fas fa-sort-down ms-4"></i>
                    </div>

                </div>
            </a>
            <div class="dropdown-menu dropdown-menu-end">
                <a class="btn dropdown-item ai-icon" onclick="logout()">
                    <svg xmlns="http://www.w3.org/2000/svg" class="text-danger" width="18" height="18"
                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
                        <polyline points="16 17 21 12 16 7"></polyline>
                        <line x1="21" y1="12" x2="9" y2="12"></line>
                    </svg>
                    <span class="ms-2">Logout </span>
                </a>
            </div>
        </div>
        <ul class="metismenu" id="menu">
            <li><a class="ai-icon" href="/" aria-expanded="false">
                    <i class="fas fa-tachometer-alt"></i>
                    <span class="nav-text">Dashboard</span>
                </a>
            </li>
            <li><a class="ai-icon" href="/cart" aria-expanded="false">
                    <i class="fas fa-eye"></i>
                    <span class="nav-text">Cart</span>
                </a>
            </li>
        </ul>

        <div class="copyright">
            <p><strong>Demo</strong> © <%=(new Date()).getFullYear()%> All Rights Reserved</p>
            <p class="fs-12"><span class="heart"></span></p>
        </div>
    </div>
</div>
<!--**********************************
            Sidebar end
        ***********************************-->